/* Background image style in body */
body{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/db/Background_Clouds_2_%2855079272%29.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;

}
/* paragraph color */
p{
    color: white;
}
/* mouse over color nav-links in nav-bar */
#header a:hover{
    color: pink;
}

  /* footer background and padding */
  footer{
    background: #444;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display : block;
  }
  /* Styling footer icons */
  .icons i {
    color: #fff;
    font-size: 30px;
  }
  
  
  